@model IEnumerable<CESIZen.Models.Information>

@{
    ViewData["Title"] = "Informations";
}

<h2>Informations</h2>

<div class="accordion" id="infoAccordion">
    @foreach (var info in Model)
    {
        <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="heading@(info.Id)">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(info.Id)">
                    @info.Titre
                </button>
            </h2>
            <div id="collapse@(info.Id)" class="accordion-collapse collapse" data-bs-parent="#infoAccordion">
                <div class="accordion-body">
                    <p>@info.Contenu</p>
                    <small><i>Publié le @info.DateCreation.ToShortDateString()</i></small>
                </div>
            </div>
        </div>
    }
</div>
