@using CesiZenInfrastructure.Dto

@{
    ViewData["Title"] = "Accueil";
}

<div class="container py-5">
    <!-- Section Présentation de CesiZen -->
    <div class="row mb-5">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="mb-3">Bienvenue sur <span style="color: #2E8B57;">CesiZen</span></h2>
            <p class="lead">
                CesiZen est une application innovante dédiée au bien-être, 
                qui permet aux utilisateurs de réaliser facilement des activités relaxantes et de découvrir une multitude d’articles inspirants sur le bien-être. 
                Que vous cherchiez à prendre soin de vous au quotidien ou à explorer de nouvelles pratiques apaisantes, 
                CesiZen vous offre une expérience fluide et enrichissante, 
                avec des outils simples et intuitifs pour vous accompagner à chaque étape.
            </p>
        </div>
    </div>


    <!-- Section Activités -->
    <div class="row mb-5">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Liste des Activités</h5>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var activity in (List<ActiviteDto>)ViewData["Activities"])
                    {
                        <li class="list-group-item">@activity.Nom</li>
                    }
                </ul>
            </div>
        </div>

        <!-- Section Logo CesiZen -->
        <div class="col-md-6 text-center d-flex flex-column justify-content-center align-items-center">
            <img src="~/Images/Logo.png" alt="Logo">
            <h5 class="text-muted">Notre logo, symbole de simplicité et d’efficacité</h5>
        </div>
    </div>
</div>