@model CesiZenModel.Entities.Activite

@{
    ViewData["Title"] = "Création d'une activité";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <form asp-action="CreateNewActivity" method="post">
                <div class="mb-3">
                    <label asp-for="Nom"></label>
                    <input asp-for="Nom" class="form-control" style="width: 100%; padding: 0.5em;" />
                    <span asp-validation-for="Nom" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" style="width: 100%; padding: 0.5em;" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary px-4">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

