@model List<CESIZen.Models.QuestionnaireStress>

@{
    ViewData["Title"] = "Diagnostic de stress";
}

<h2 class="h2">Diagnostic de stress</h2>

<form asp-action="Submit" method="post">
    <div class="form-group">
        <p>Sélectionnez les événements que vous avez vécus au cours des 12 derniers mois :</p>

        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="form-check mb-3">
                <input type="checkbox"
                       class="form-check-input"
                       name="evenementsSelectionnesIds"
                       value="@Model[i].Id"
                       id="evenement_@Model[i].Id" />
                <label class="form-check-label" for="evenement_@Model[i].Id">
                    @Model[i].Libelle (@Model[i].Valeur pts)
                </label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-3 d-block mx-auto d-sm-inline">Soumettre</button>

</form>
